/* HTML elements */
body {
	margin: 0%;
}

button {
	width: 15%;
	font-size: 1.3em;
	margin: auto;
	display: block;
}

a {
	text-decoration: none;
}

h1, h2, h3, p, button {
	font-family: "Georgia", serif;
	text-align: center;
}

h1 {
	font-size: 2.8em;
}

h2 {
	margin: 0px;
	font-size: 1.8em;
}

h3 {
	margin: 5px;
}

p {
	font-size: 1.2em;
}

.liteBox h2, .liteBox p {
	text-align: center;
}

img[src="x-mark.png"], img[src="check-mark.png"] {
	width: 2em;
	height: 2em;
	vertical-align: middle;
	margin-left: 10px;
}

input[type="text"], input[type="password"] {
	font-family: "Verdana", sans-serif;
	font-size: 18px;
	appearance: none;
	padding: 10px;
	border: 1px solid #dcdcdc;
	transition: box-shadow 0.3s, border 0.3s;
	
	
}
input[type="password"], meter {
	width: 90%;
}

input[type="password"] {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

input[type="text"]:focus, input[type="password"]:focus {
	border: 1px solid #707070;
	box-shadow: 0 0 5px 1px #969696;
}

.red input[type="text"]:focus, .red input[type="password"]:focus, .blue input[type="text"]:focus, .blue input[type="password"]:focus {
	border: 1px solid #707070;
	box-shadow: 0 0 5px 2px #FFFFFF;
}

.liteBox input, .wide input {
	display: block;
	margin: 10px auto;
}

.wide input[type="password"] {
	display: inline-block;
}


meter {
  /* Reset the default appearance */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  margin: 0 auto 1em;
  height: 0.5em;
  

  /* Applicable only to Firefox */
  background: none;
  background-color: rgba(0, 0, 0, 0.1);
}

meter::-webkit-meter-bar {
  background: none;
  background-color: rgba(0, 0, 0, 0.1);
}

/* Webkit based browsers */
meter[value="1"]::-webkit-meter-optimum-value { background: #AA0000; }
meter[value="2"]::-webkit-meter-optimum-value { background: orange; }
meter[value="3"]::-webkit-meter-optimum-value { background: yellow; }
meter[value="4"]::-webkit-meter-optimum-value { background: #00EE00; }

/* Gecko based browsers */
meter[value="1"]::-moz-meter-bar { background: #AA0000; }
meter[value="2"]::-moz-meter-bar { background: orange; }
meter[value="3"]::-moz-meter-bar { background: yellow; }
meter[value="4"]::-moz-meter-bar { background: #00EE00; }


/* IDs */
#container {
	position: relative;
	width: 50em;
	margin: 5px auto;
	z-index: 15;
}

#passPic, #canvas {
	width: 50em;
	height: 31.6em;
	
}

#passPic {
	position: absolute;
	z-index: -5;
	
}

#password-container {
	min-width: 25em;
	width: 25%;
	margin: 0px auto;
}

#password-strength-text {
	margin-top: 0px;
}

#error-dialog {
	color: red;
	font-style: italic;
}


#canvas {

}


/* CLASSES */
.titleImg {
	width: 34%;
	height: auto;
	margin: 4% 33% 4% 33%;
	
}

.titleTxt {
	top: 5%;
}

.red {
	border-color: red;
	background-color: red;
}

.blue {
	border-color: blue;
	background-color: blue;
}

.red h1, .red h2, .red h3, .red p, .blue h1, .blue h2, .blue h3, .blue p {
	color: white;
}

.white {
	color: white;
}

.left, .right {
	display: inline;
	width: 50%;
	
}

.wide {
	position: relative;
	width: 100%;
	padding: 30px 0px;
	z-index: 10;
}

.left, .right, .liteBox, .wide {
	border-bottom: 20px solid #232323;
}

.left {
	float: left;
}

.right {
	float: right;
}

.center {
	position: absolute;
	width: 50%;
	margin: 0 25%;
	text-align: center;
}

.clear {
	clear: both;
}

.liteBox {
	background-color: #efefef;
	width: 100%;
	min-width: 100px;
	padding: 40px 5px 40px 5px;
	clear: both;
	text-align: center;
}










